body{
    background-color:lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}
.card
{
    background-color:lightpink;
    text-align: center;
    margin:0 auto;
    height: 400px;
    width: 90%; 
    background: linear-gradient(300deg, #F57799, #FB9B8F, #FFF7CD);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
.card1
{
    font-size: 20px;
    margin: 20px;
    padding: 10px;   
}
.card2
{
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    margin-bottom:10px;
}
#your-name
{
    text-align: center;
    font-size: medium;
    background-color: #FFF7CD;
}
#crush-name
{
    text-align: center;
    font-size: medium;
    background-color: #FFF7CD;
    margin-bottom: 10px;
}
#calculate-btn
{
    text-align: center;
    font-size: medium;
    margin-bottom: 10px;
    background-color: #FFF7CD;
    margin-bottom: 10px;
}
#result
{
    margin:20px;
    padding:20px;
}
#message
{
    margin:20px;
    padding:20px;
}
@media (max-width: 480px) {
    .card {
        padding: 25px 15px;
        width: 95%;
        margin:0 auto;
    }
    #your-name, #crush-name, #calculate-btn {
        width: 90%;
        font-size: 16px;
    }
